MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=reserveai_db
MYSQL_USER=reserveai
MYSQL_PASSWORD=reserveai123
BACKEND_PORT=3000
FRONTEND_PORT=8080
JWT_SECRET=reserveai_super_secret
REFRESH_TOKEN_SECRET=reserveai_refresh_secret
